@import "./mixins.scss";

.portfolio-banner {
  position: relative;
  height: 100vh;
  width: 100%;
  background-image: url("../imgs/mountains.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  // Use flex to center text in the banner.
  &__text-container {
    color: white;
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

    &__name {
      font-size: 8rem;

      @include respond(phone) {
        font-size: 7rem;
      }
    }

    &__occupation {
      margin-top: 1rem;
      font-size: 4rem;
      @include respond(phone) {
        font-size: 3rem;
      }
    }
  }
  &__contact-info-container {
    z-index: 1;
    position: absolute;
    gap: 1rem;
    top: 1rem;
    right: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row-reverse;
  }

  &__contact-icon {
    color: white;
    padding: 12px;
    transition: 0.3s;
    border-radius: 47%;

    &:hover {
      background-color: white;
      color: black;
    }
  }

  &__download-resume-link {
    color: white;
    font-size: 1.6rem;
    text-decoration: none;
    border-radius: 5px;
    padding: 5px 10px;
    transition: .3s;

    &:hover {
      cursor: pointer;
      background-color: white;
      color: black;
    }
    @include respond(phone) {
      display: none;
    }
  }

}
