@import "./mixins.scss";

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Sono", sans-serif;
}

html {
  //defines 1 rem (10/16)
  font-size: 62.5%;

  @include respond(tab-port) {
    //width < 900
    font-size: 50%; //1 rem = 8px, 8/16 = 50%
  }

  @include respond(tab-land) {
    //width < 1200
    font-size: 56.25%; //1 rem = 9px, 9/16 = 56.25%
  }

  @include respond(big-desktop) {
    font-size: 75%; //1rem = 12, 12/16
  }
}

.container {
  width: 90%;
  margin: 0 auto;
}

p,
span {
  font-size: 1.6rem;
}

h1 {
  font-size: 3.2rem;
}

h2 {
  font-size: 2.6rem;
}

h3 {
  font-size: 2.4rem;
}

h4 {
  font-size: 2rem;
}


.fade-in {
  animation: fadeIn ease 3s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
