.portfolio-banner {
    position: relative;
    height: 100vh;
    width: 100%;
    background-image: url("../imgs/mountains.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    // Use flex to center text in the banner.
    &__text-container {
      position: absolute;
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      color: white;
      justify-content: center;
      text-align: center;
  
      &__name {
        font-size: 8rem;
      }
  
      &__occupation {
        margin-top: 1rem;
        font-size: 5rem;
      }
    }
  }