*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Sono", sans-serif;
}

html {
  font-size: 62.5%;
}

.container {
  width: 90%;
  margin: 0 auto;
  border: solid 1px black;
  padding: 2rem;
}

p,
span {
  font-size: 1.6rem;
}

h1 {
  font-size: 3.2rem;
}

h2 {
  font-size: 2.6rem;
}

h3 {
  font-size: 2.4rem;
}

h4 {
  font-size: 2rem;
}

.employment-history {
  background-color: #e6efff;
  padding: 5rem 0;

  img {
    height: 4rem;
    width: 4rem;
    border-radius: 50%;
  }
  /* Using plain CSS */
  @media (min-width: 1170px) {
    img {
      height: 6rem;
      width: 6rem;
    }
  }
}

.vertical-timeline-element--work p {
  font-size: 1.6rem !important;
}

.vertical-timeline-element-subtitle {
  font-weight: normal;
}

.vertical-timeline-element-date {
  font-size: 1.6rem !important;
  font-weight: bold !important;
  color: black !important;
}

.fade-in {
  animation: fadeIn ease 3s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}


.section-title {
  font-size: 4rem;
  text-align: center;
  margin-bottom: 6rem;
}