*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Sono', sans-serif;
}

html {
  font-size: 62.5%;
}

.container {
  width: 90%;
  margin: 0 auto;
  border: solid 1px black;
  padding: 2rem;
}

p,
span {
  font-size: 1.6rem !important;
}

h2 {
  font-size: 4rem;
}

h3 {
  font-size: 3rem;
}

h4 {
  font-size: 2rem;
}

.employment-history {
  background-color: lightblue;
}
