.vertical-timeline-element--work p {
  font-size: 1.6rem !important;
}

.vertical-timeline-element-subtitle {
  font-weight: normal;
}

.vertical-timeline-element-date {
  font-size: 1.6rem !important;
  font-weight: bold !important;
  color: black !important;
}
